In [1]:
import numpy as np
import pandas as pd
import csv
import os
import warnings

In [2]:
from google.colab import files
files.upload() #upload kaggle.json

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"federicofiorio","key":"3c9fda0dd26cc20d5f652a577743142c"}'}

In [3]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [4]:
! mkdir ~/.kaggle

In [5]:
!cp kaggle.json ~/.kaggle/

In [6]:
!ls ~/.kaggle

kaggle.json

In [7]:
!chmod 600 /root/.kaggle/kaggle.json

In [8]:
!kaggle datasets download -d bwandowando/ukraine-russian-crisis-twitter-dataset-1-2-m-rows

Downloading ukraine-russian-crisis-twitter-dataset-1-2-m-rows.zip to /content
100% 7.05G/7.06G [02:29<00:00, 64.0MB/s]
100% 7.06G/7.06G [02:29<00:00, 50.8MB/s]

In [10]:
!ls

drive	     sample_data
kaggle.json  ukraine-russian-crisis-twitter-dataset-1-2-m-rows.zip

In [11]:
!unzip ukraine-russian-crisis-twitter-dataset-1-2-m-rows.zip

Archive:  ukraine-russian-crisis-twitter-dataset-1-2-m-rows.zip
  inflating: 0401_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0402_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0403_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0404_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0405_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0406_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0407_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0408_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0409_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0410_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0411_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0412_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0413_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0414_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0415_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0416_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0417_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0418_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0419_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0420_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0421_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0422_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0423_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0424_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0425_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0426_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0427_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0428_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0429_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0430_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0501_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0502_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0503_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0504_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0505_to_0507_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0508_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0509_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0510_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0511_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0512_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0513_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0514_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: 0515_UkraineCombinedTweetsDeduped.csv.gzip
  inflating: UkraineCombinedTweetsDeduped20220227-131611.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_FEB27.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_FEB28_part1.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_FEB28_part2.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR01.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR02.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR03.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR04.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR05.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR06.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR07.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR08.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR09.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR10.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR11.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR12.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR13.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR14.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR15.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR16.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR17.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR18.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR19.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR20.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR21.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR22.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR23.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR24.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR25.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR26.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR27_to_28.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR29.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR30_REAL.csv.gzip
  inflating: UkraineCombinedTweetsDeduped_MAR31.csv.gzip

In [13]:
filename = r"0401_UkraineCombinedTweetsDeduped.csv.gzip"
df = pd.read_csv(filename, compression='gzip', index_col=0,encoding='utf-8', quoting=csv.QUOTE_ALL)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
df[0:2].T

,0,1
userid,16882774,3205296069
username,Yaniela,gregffff
acctdesc,"Animal lover, supports those who fight injusti...",NaN
location,Hawaii,NaN
following,1158,122
followers,392,881
totaltweets,88366,99853
usercreatedts,2008-10-21 07:34:04.000000,2015-04-25 11:24:34.000000
tweetid,1509681950042198030,1509681950151348229
tweetcreatedts,2022-04-01 00:00:00.000000,2022-04-01 00:00:00.000000
retweetcount,3412,100
text,⚡The Ukrainian Air Force would like to address...,Chernihiv oblast. Ukrainians welcome their lib...
hashtags,[],"[{'text': 'russianinvasion', 'indices': [77, 9..."
language,en,en
coordinates,NaN,NaN
favorite_count,0,0
extractedts,2022-04-01 00:44:20.097867,2022-04-01 00:09:37.148770

In [30]:
df.head()

,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,16882774,Yaniela,"Animal lover, supports those who fight injusti...",Hawaii,1158,392,88366,2008-10-21 07:34:04.000000,1509681950042198030,2022-04-01 00:00:00.000000,3412,⚡The Ukrainian Air Force would like to address...,[],en,NaN,0,2022-04-01 00:44:20.097867
1,3205296069,gregffff,NaN,NaN,122,881,99853,2015-04-25 11:24:34.000000,1509681950151348229,2022-04-01 00:00:00.000000,100,Chernihiv oblast. Ukrainians welcome their lib...,"[{'text': 'russianinvasion', 'indices': [77, 9...",en,NaN,0,2022-04-01 00:09:37.148770
2,1235940869812809728,ThanapornThon17,เล่นไวโอลิน\nพูดภาษาจีน,NaN,231,72,5481,2020-03-06 14:52:01.000000,1509681950683926556,2022-04-01 00:00:00.000000,9,America 🇺🇸 is preparing for something worse th...,"[{'text': 'RussianUkrainianWar', 'indices': [7...",en,NaN,0,2022-04-01 00:09:37.125654
3,1347985375566966784,I_Protest_2021,01000001 01101110 01101111 01101110 01111001 0...,International Web Zone,399,377,301,2021-01-09 19:15:44.000000,1509681951116046336,2022-04-01 00:00:00.000000,573,JUST IN: #Anonymous has hacked &amp; released ...,"[{'text': 'Anonymous', 'indices': [25, 35]}]",en,NaN,0,2022-04-01 00:31:39.674382
4,1505394816636846083,Marsh_Win_01,🌿@Pickaw @TWITTERPICKER 🌿Winning isn’t everyth...,Hunter Account,158,25,8982,2022-03-20 04:04:40.000000,1509681951304990720,2022-04-01 00:00:00.000000,190,***PUBLIC MINT NOW LIVE***\n\nFor \n@billionai...,[],en,NaN,0,2022-04-01 00:09:37.101459

In [46]:
#possibile farlo con spark credo per parallelizzare
rows_eng = df.language == 'en'
rows_selected = []

for i,r in enumerate(rows_eng):
  if r == True:
    rows_selected.append(df.iloc[i])

eng_df = pd.DataFrame(rows_selected)

In [67]:
#Creating dictionary for words and dictionary for hashtags
from collections import defaultdict

hashtags = defaultdict(lambda : [])
texts = defaultdict(lambda : [])

In [68]:
for index, row in eng_df.iterrows():
  texts[row.userid].append(row.text)
  hashtags[row.userid].append(row.hashtags)

In [73]:
print(texts[16882774])
print("_________________________________________________")
print(hashtags[16882774])

['⚡The Ukrainian Air Force would like to address misinformation published in multiple Western media outlets regarding the situation in the 🇺🇦 sky and support from our @NATO allies. \nMore in 🧵(1/16)\n#ProtectUАSky #StopRussia #UkraineUnderAttaсk']
_________________________________________________
['[]']